<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width"/>
        <link href="/lib/bootstrap/dist/**/*.min.css" 
              asp-href-exclude="**/*-reboot*,**/*-grid"></link>
        <title>SportStore</title>
    </head>
    <body>
      
        <div>@RenderBody()</div>
    </body>
</html>
